  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button menu="menu"></ion-menu-button>

      </ion-buttons>
      <ion-title style="color: #AAE7E3; text-align: center; justify-content: center; margin-right: 30px;">Asignaturas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #00776E; background-color: #00776E;">
  <ion-list style="background-color: #00BFB1;">
    <ion-item *ngFor="let asistencia of asistencias">
      <ion-label>
        {{asistencia.Asignatura}} {{asistencia.mensaje}}
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
