ion-toolbar[color="dark"] {
    --ion-color-dark: #003834;
  }


ion-button[color="primary"] {
    --ion-color-primary: #39c5bb;
}

ion-button[color="tertiary"] {
  --ion-color-tertiary: #39c5bb;
}


ion-menu-button.custom-menu-button {
  --color: #003834;
}
