<ion-menu side="start" menuId="menu" contentId="main">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle autoHide="true">
        <ion-item routerLink="/pagina-scan-qr"><ion-icon name="qr-code-sharp" slot="start" color="dark"></ion-icon> Escanear QR</ion-item>
        <ion-item routerLink="/perfil-estudiante"><ion-icon name="person-sharp" slot="start" color="dark"></ion-icon> Perfil</ion-item>
        <ion-item routerLink="/asignaturas"><ion-icon name="library" slot="start" color="dark"></ion-icon>  Asignatura</ion-item>
        <ion-item routerLink="/"><ion-icon name="log-out-sharp" slot="start" color="dark"></ion-icon> Cerrar sesion</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>